@model PlayerViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="enterYourName">
        <span>What is your name?</span>
        <input id="playerName" />
        <button id="submitPlayerName">Submit</button>
    </div>
    <br />
    <span id="roomInfo"></span>
    <br />
    <input id="beginGameButton" style="display: none" type="button" value="BeginGame" onclick="location.href='@Url.Action("BeginGame", "Home" , new { roomId=Model.RoomId } )'" />
</div>

@section Scripts {
    <script>
        var roomId = @Model.RoomId;
        var pregameUrl = '@Model.PregameUrl';
        var gameStartedUrl = '@Url.Action("GameStarted", "Home" )';
    </script>
    <script src="~/js/PlayerView.js"></script>
}