@model RoomViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "_CellPhoneLayout";
}

<div class="text-center">
    <div id="qr"></div>
    <br />
    <span id="roomInfo">Text goes here</span>
</div>

@section Scripts {
    <script>
        const pregameUrl = '@Model.PregameUrl';
        const gameStartedUrl = '@Url.Action("GameStarted", "Home" )';
        $(document).ready(() => {
            room('@Model.QrSuffix');
        });
    </script>
    <script src="~/lib/qrcode-generator/qrcode.min.js"></script>
    <script src="~/js/Generated/Home/Room.js"></script>
}