@model RoomViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="qr"></div>
    <a href="@Model.QrUrl">@Model.QrUrl</a>
    <br />
    <span id="roomInfo">Text goes here</span>
</div>

@section Scripts {
    <script>
        var qrUrl = '@Model.QrUrl';
    </script>
    <script src="~/lib/qrcode-generator/qrcode.min.js"></script>
    <script src="~/js/Generated/Home/Room.js"></script>
}